@import "tailwindcss";

/* Isso força o navegador a aplicar o fundo escuro nas opções de qualquer select */
select option {
  background-color: #171717; /* Isso resolve o problema de o fundo ficar branco no modo light */
  color: #ffffff;
}

/* Definição das variáveis de cor do calendário */
.booking-calendar {
  --cal-text-color: currentColor; /* Lê a cor do texto do pai */
  --cal-bg-hover: rgba(128, 128, 128, 0.1);
}

.booking-calendar .rdp-day,
.booking-calendar .rdp-caption_label,
.booking-calendar .rdp-nav_button,
.booking-calendar .rdp-head_cell {
  color: var(--cal-text-color) !important;
}

.booking-calendar .rdp-day:hover:not(.rdp-day_selected) {
  background-color: var(--cal-bg-hover) !important;
}

.booking-calendar .rdp-day_selected {
  background-color: #f59e0b !important; /* Amber fixo para destaque */
  color: #000000 !important;
  font-weight: 800 !important;
}